body {
    background-color: #EEE8AA;
}


.lblBienvenida {
    font-family: 'Comic Sans MS';
    font-size: larger;
    font-style: inherit;
}

.Pictures1 {
    text-align: center;
    display: inline-block;
}

.DatosClientes, .NuevoCliente, .BusquedaCliente {
    background-color: #FFFFFF;
    border: solid;
}

.asterisco {
    color: red;
}

