<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./Imagenes/icono.ico" />
    <title>Carga de Clientes</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Hoja de estilos -->
    <link href="Estilos/hojaEstilos2.css" rel="stylesheet" />

    <!-- Aqui lo que hago es traer el angular al html -->
    <script src="JavaScript/angular.js"></script>

    <!-- Aqui lo que hago es traer el angular que yo cree -->
    <script src="JavaScript/app.js"></script>

    <style>
        input.ng-invalid {
            background-color: pink;
        }

        input.ng-valid {
            background-color: lightgreen;
        }


        input[type=text] {
            width: 250px;
            height: 25px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /*  input[type=submit]:hover {
                background-color: #45a049;
            }*/

        #nuevoClienteFactura {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        #ExentoMonotributoRespInscripto {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>

</head>
<body ng-app="crmClientes">
    <div class="container-fluid" ng-controller="ctrlCargaCliente">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Carga de Clientes en el Sistema</h1>
            </div>
            <div class="divOpcionSelector form-group panel-body">
                <label>Tipo de Cliente:</label>
                <select style="width:200px;" ng-model="tipoCliente" ng-options="x.descripcion for x in tipos track by x.idTipoCliente" ng-change="tipoClienteChange()"></select>
            </div>
        </div>
        <div class="panel panel-default">

            <form name="myForm">

                <input type="hidden" value="{{tipoCliente.idTipoCliente}}" ng-model="nuevoCliente.idTipoCliente" />

                <div id="ConsumidorFinal" ng-show="tipoCliente.idTipoCliente == 1">
                    <table>
                        <tr>
                            <td>Apellido:<span class="asterisco">*</span></td>
                            <td><input type="text" value="" ng-model="nuevoCliente.apellido" /></td>
                        </tr>

                        <tr>
                            <td>Nombre:<span class="asterisco">*</span></td>
                            <td><input type="text" value="" ng-model="nuevoCliente.nombre" /></td>
                        </tr>

                        <tr>
                            <td>DNI:<span class="asterisco">*</span></td>
                            <td><input type="number" value="" ng-model="nuevoCliente.cuit" /></td>
                        </tr>

                        <tr>
                            <td>Domicilio: <span class="asterisco">*</span></td>
                            <td><input type="text" value="" ng-model="nuevoCliente.domicilio" /></td>
                        </tr>

                        <tr>
                            <td>Email:<span class="asterisco">*</span></td>
                            <td><input type="text" value="" ng-model="nuevoCliente.email" /></td>
                        </tr>

                        <tr>
                            <td>Localidad: </td>
                            <td><input type="text" value="" ng-model="nuevoCliente.localidad" /></td>
                        </tr>

                        <tr>
                            <td>Ingrese el telefono:</td>
                            <td><input type="text" value="" ng-model="nuevoCliente.telefono" /></td>
                        </tr>

                        <tr>
                            <td>Habilitado:</td>
                            <td><input type="checkbox" name="chkHabilitado" value="" ng-model="nuevoCliente.habilitado" /></td>
                        </tr>

                        <tr>
                            <td>Pago CtaCte:</td>
                            <td><input type="checkbox" name="chkPagoCtaCte" value="" ng-model="nuevoCliente.pagoCtaCte" /></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><span class="asterisco">*</span>Campos Obligatorios</td>
                        </tr>

                        <tr>
                            <td><button class="btn btn-success" ng-click="Grabar()">Grabar</button></td>
                            <td><button class="btn btn-primary">Volver</button></td>
                        </tr>

                    </table>
                </div>

                <div id="exentomonotributorespinscripto" ng-show="tipoCliente.idTipoCliente != 1">
                    <table>
                        <tr>
                            <td>Percepcion IIBB:</td>
                            <td><input type="checkbox" ng-model="nuevoCliente.percepcionIIBB" name="chkPercepcionIIBB" ng-checked="tipoIIBBChange()" /></td>
                        </tr>

                        <tr>
                            <td>Tipo Convenio IIBB:</td>
                            <td>
                                <select ng-model="nuevoCliente.idTipoConvenioIIBB" ng-options="y.descripcion for (x, y) in tipoConvenio" ng-disabled="nuevoCliente.percepcionIIBB == 0"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>Percepcion Com. e Ind.</td>
                            <td><input type="checkbox" name="" ng-model="nuevoCliente.percepcionComEInd" /></td>
                        </tr>

                        <tr>
                            <td>Tipo Convenio Com. e Ind.</td>
                            <td>
                                <select ng-model="nuevoCliente.idTipoConvenioComEInd" ng-options="y.descripcion for (x, y) in tipoConvenioComEInd"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>Raz&oacute;n Social:<span class="asterisco">*</span></td>
                            <td><input type="text" ng-model="nuevoCliente.razonSocial" name="txtRazonSocial" required />
                        </tr>

                        <tr>
                            <td>CUIT:<span class="asterisco">*</span></td>
                            <td><input type="text" ng-model="nuevoCliente.cuit" name="txtRazonSocial" requiered /></td>
                        </tr>

                        <tr>
                            <td>Ingr.Brutos:<span class="asterisco">*</span></td>
                            <td><input type="text" ng-model="nuevoCliente.ingBrutos" name="txtIngresosBrutos" requiered /></td>
                        </tr>

                        <tr>
                            <td>Domicilio:<span class="asterisco">*</span></td>
                            <td><input type="text" ng-model="nuevoCliente.domicilio" name="txtDomicilio" required /></td>
                        </tr>

                        <tr>
                            <td>Email:<span class="asterisco">*</span></td>
                            <td><input type="text" ng-model="nuevoCliente.email" name="txtEmail" requiered /></td>
                        </tr>

                        <tr>
                            <td>Localidad:<span class="asterisco">*</span> </td>
                            <td><input type="text" ng-model="nuevoCliente.localidad" name="txtLocalidad" requiered /></td>
                        </tr>

                        <tr>
                            <td>Telefono:<span class="asterisco">*</span> </td>
                            <td><input type="text" ng-model="nuevoCliente.telefono" name="txtTelefono" requiered /></td>
                        </tr>

                        <tr>
                            <td>Habilitado:</td>
                            <td><input type="checkbox" ng-model="nuevoCliente.habilitado" name="chkHabilitado" /></td>
                        </tr>

                        <tr>
                            <td>Pago CtaCte: </td>
                            <td><input type="checkbox" ng-model="nuevoCliente.pagoCtaCte" name="chkPagoCtaCte" /></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td><span class="asterisco">*</span>Campos requeridos</td>
                        </tr>

                        <tr>
                            <td><button class="btn btn-success" ng-click="Grabar()">Grabar</button></td>
                            <td><button class="btn btn-primary">Volver</button></td>
                        </tr>
                    </table>
                </div>
            </form>

        </div>

    </div>

</body>
</html>
