<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./Imagenes/icono.ico" />
    <title>Carga de Clientes</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- Hoja de estilos -->
    <link href="Estilos/hojaEstilos2.css" rel="stylesheet" />

    <!-- Aqui lo que hago es traer el angular al html -->
    <script src="JavaScript/angular.js"></script>

    <!-- Aqui lo que hago es traer el angular que yo cree -->
    <script src="JavaScript/app.js"></script>

    <style>
        input.ng-invalid {
            background-color: pink;
        }

        input.ng-valid {
            background-color: lightgreen;
        }


        input[type=text] {
            width: 250px;
            height: 25px;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        /*  input[type=submit]:hover {
                background-color: #45a049;
            }*/

        #consFinalFactura {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        #ExentoMonotributoRespInscripto {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>

</head>
<body ng-app="crmClientes">
    <div class="container-fluid" ng-controller="ctrlCargaCliente">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Carga de Clientes en el Sistema</h1>
            </div>



            <div class="divOpcionSelector form-group panel-body">
                <label>Tipo de Cliente:</label>

                <select style="width:200px;" ng-model="tipoCliente" ng-options="x.descripcion for x in tipos track by x.idTipoCliente"></select>

                <br />
                <br />
            </div>
        </div>

        <div id="consFinalFactura" class="panel panel-default">
            <table>
                <tr>
                    <td>Apellido:<span class="asterisco">*</span></td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Nombre:<span class="asterisco">*</span></td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>DNI:<span class="asterisco">*</span></td>
                    <td><input type="number" value="" /></td>
                </tr>

                <tr>
                    <td>Domicilio: <span class="asterisco">*</span></td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Email:<span class="asterisco">*</span></td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Email confirmaci&oacute;n:<span class="asterisco">*</span></td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Localidad: </td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Ingrese el telefono:</td>
                    <td><input type="text" value="" /></td>
                </tr>

                <tr>
                    <td>Habilitado:</td>
                    <td><input type="checkbox" name="chkHabilitado" value="Habilitado" /></td>
                </tr>

                <tr>
                    <td>Pago CtaCte:</td>
                    <td><input type="checkbox" name="chkPagoCtaCte" value="PagoCtaCte" /></td>
                </tr>

                <tr>
                    <td></td>
                    <td><span class="asterisco">*</span>Campos Obligatorios</td>
                </tr>

                <tr>
                    <td><button class="btn btn-success">Grabar</button></td>
                    <td><button class="btn btn-primary">Volver</button></td>
                </tr>

            </table>

            <br />
            <br />
        </div>

        <div id="ExentoMonotributoRespInscripto" class="panel panel-default">

            <form name="myFormExentoMonotributoInscripto">
                <table>
                    <tr>
                        <td>Percepcion IIBB:</td>
                        <td><input type="checkbox" ng-model="chkPercepcionIIBB" name="chkPercepcionIIBB" /></td>
                    </tr>

                    <tr>
                        <td>Tipo Convenio IIBB:</td>
                        <td>
                            <select ng-model="tipoConvenio" ng-options="y.descripcion for (x, y) in tipoConvenio"></select>
                        </td>
                    </tr>

                    <tr>
                        <td>Percepcion Com. e Ind.</td>
                        <td><input type="checkbox" name="chkPercepcionComEInd" ng-model="chkPercepcionComEInd" /></td>
                    </tr>

                    <tr>
                        <td>Tipo Convenio Com. e Ind.</td>
                        <td>
                            <select ng-model="tipoConvenioComEInd" ng-options="y.descripcion for (x, y) in tipoConvenioComEInd"></select>
                            <!--
                                <select>
                                    <option>Convenio Multilateral (0.30%)</option>
                                    <option>Contribuyente Local (0.60%)</option>
                                    <option>No inscripto (1.80%)</option>
                                    <option>Certificado de no percepcion (0.00%)</option>
                                    <option>Contribuyente Local Riesgo Fiscal (1.20%)</option>
                                    <option>Convenio Multilateral Riesgo Fiscal (0.60%)</option>
                                    <option>No inscripto Riesgo Fiscal (3.60%)</option>
                                </select>
                            -->
                        </td>
                    </tr>

                    <tr>
                        <td>Raz&oacute;n Social:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtRazonSocial" name="txtRazonSocial" required />
                    </tr>

                    <tr>
                        <td>CUIT:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtCuit" name="txtRazonSocial" requiered /></td>
                    </tr>

                    <tr>
                        <td>Ingr.Brutos:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtIngresosBrutos" name="txtIngresosBrutos" requiered /></td>
                    </tr>

                    <tr>
                        <td>Domicilio:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtDomicilio" name="txtDomicilio" required /></td>
                    </tr>

                    <tr>
                        <td>Email:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtEmail" name="txtEmail" requiered /></td>
                    </tr>

                    <tr>
                        <td>Email Confirmaci&oacute;n:<span class="asterisco">*</span></td>
                        <td><input type="text" ng-model="txtEmailConfirmacion" name="txtEmailConfirmacion" requiered /></td>
                    </tr>

                    <tr>
                        <td>Localidad:<span class="asterisco">*</span> </td>
                        <td><input type="text" ng-model="txtLocalidad" name="txtLocalidad" requiered /></td>
                    </tr>

                    <tr>
                        <td>Telefono:<span class="asterisco">*</span> </td>
                        <td><input type="text" ng-model="txtTelefono" name="txtTelefono" requiered /></td>
                    </tr>

                    <tr>
                        <td>Habilitado:</td>
                        <td><input type="checkbox" ng-model="chkHabilidado" name="chkHabilitado" /></td>
                    </tr>

                    <tr>
                        <td>Pago CtaCte: </td>
                        <td><input type="checkbox" ng-model="chkPagoCtaCte" name="chkPagoCtaCte" /></td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><span class="asterisco">*</span>Campos requeridos</td>
                    </tr>

                    <tr>
                        <td><button class="btn btn-success">Grabar</button></td>
                        <td><button class="btn btn-primary">Volver</button></td>
                    </tr>
                </table>
            </form>

        </div>

    </div>

</body>
</html>
